build/
dev/
dist/

# Python
venv/
*.py[co]
*/__pycache__/
**/__pycache__/
*.egg-info/

# IDE
.idea/

# tox
.hypothesis/
.pytest_cache/
.tox/
coverage_html/
.coverage
coverage.xml

# GMoB
gray_merchant_of_billund/secrets.py
home/
